/* Gerais */
* {
  text-decoration: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(44, 44, 44, 1));
}

.btn {
  width: 100%;
}